

#gora{
    font-family: Tahoma;
    padding: 2%;
    min-height: 400px;
    float: left;
    width: 65%;
    background-color:  #FB8E02;
    box-sizing: border-box;
}

#gora2{
    font-family: Tahoma;
    padding: 2%;
    min-height: 400px;
    width: 35%;
    float: left;
    box-sizing: border-box;
    background-image: url("obraz1.jpg");
    background-size: contain;    
    background-repeat: no-repeat;
    background-position: top right; 
}

#srodek1{
    font-family: Tahoma;
    padding: 2%;
    width: 65%;
    
    box-sizing: border-box;
    background-color: red;
}

#srodek2{
    font-family: Tahoma;
    padding: 2%;
    width: 35%;
    min-height: 750px;
    box-sizing: border-box;
    float: left;
    background-color:  yellow;

   
}

#stopka{
    font-family: Tahoma;
    padding: 2%;
    width: 100%;
    min-height: 20px;
    box-sizing: border-box;
    background-color:  black;
}
