


#id1{
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(54, 54, 209);
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px; 

}

#id2{
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    display: flex;
    background-color: whitesmoke;
}
#id3 {
    width: 40%;
    min-height: 750px;
    box-sizing: border-box;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;   
    background-color: burlywood;
}

#zdjecie {
    width: 30%;
    height: auto;   
    object-fit: contain;

}

#id4{
    width: 60%;
    min-height: 750px;
    box-sizing: border-box;
    display: flex;
    float: left;
    background-color: rgb(107, 233, 107);
}

#id5{
    width: 100%;
    min-height: 150px;
    box-sizing: border-box;
    display: flex;
    background-color: gray;
}
