body {
    background-color: #FFCC99;
    font-family: 'Garamond';
    text-align: center;
    margin: 0;
}

header, footer {
    background-color: DarkGreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}

nav {
    background-color: MediumSeaGreen;
    word-spacing: 90px;
    padding: 20px;
    
}

section#lewy {
    width: 70%;
    height: 500px;
}

section#prawy {
    background-color: MediumSeaGreen;
    width: 30%;
    height: 500px;
    text-align: left;
}

table {
    border: 1px dashed DarkGreen;
    margin: 30px auto;
}

table > tr > th,
table > tr > td {
    padding: 5px;
}

a {
    color: white;
}

ul {
    list-style-type: circle;
}

tr:hover {
    background-color: DarkGreen;
    color: white;
}

main {
    display: flex;
}
